<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= titulo %> </title>
    
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">  

</head>
<body>
    <div class="container">
        <h1>Productos en Stock</h1>   
 
        <% if (titulo=="Y14037") { %>

            <p>Hola Abraham</p>
             <% } else {%>

                 <p>No eres Abraham</p>  
         <% } %>

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th style="color: chocolate;">id</th>
                    <th>nombre</th>
                    <th style="color: chocolate;">precio</th>
                    <th >detalle</th>
                </tr>

            </thead> 
                <tbody>
   
                    <% productos.forEach((producto)=> { %>
    
                        <tr>
                            <td><%= producto.id %></td>
        
                            <td><%= producto.nombre %></td>
        
                            <td><%= producto.precio %></td>

                            <td>
                                <a href="ver_producto/<%= producto.slug %>"><%= producto.slug %></a>
                            </td>
                        </tr>
                    <% }) %>
    
                </tbody>  
        </table>
                        <br>
                        <br>
    
                             <form action="/crear_producto" method="get">
                                <button type="submit" class="btn btn-primary">Crear Producto</button>
                            </form>

    </div>

</body>



</html>