<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Productos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <h1 style="color: rgb(20, 49, 103);">Crear Productos</h1>
    <hr>
    <br>
    <form action="/crear_producto" method="post">

        <label for="nombre" style="color: brown; font-size: larger;">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required autofocus><br><br>

        <label for="precio" style="color: brown; font-size: larger;">Precio:</label>
        <input type="text" id="precio" name="precio" required><br><br>

        <button type="submit" style="background-color: lightseagreen; color: aquamarine; border-color: darkseagreen;">Crear Producto</button>
    </form>




</body>
</html>